<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="messageStore" class="open.transaction.message.store.mysql.MysqlMessageStore">
        <constructor-arg index="0">
            <bean class="open.transaction.message.common.idgenerator.impl.UuidIdGenerator"></bean>
        </constructor-arg>
    </bean>

    <bean id="mqClient" class="open.transaction.message.mq.rabbitmq.RabbitMqClient">
    </bean>

	<bean id="defaultTransactionMessageService" class="open.transaction.message.service.DefaultTransactionMessageService">
        <constructor-arg index="0" ref="messageStore"></constructor-arg>
        <constructor-arg index="1" ref="mqClient"></constructor-arg>
    </bean>

</beans>